@using WebMvcProject.Data;


@model List<Teacher>
<h2>Öğrentemen Bilgi</h2>


<div class="container">
    <div class="mt-2 text-end">
        <a asp-controller="Teacher" asp-action="Create" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Yeni Kayıt
        </a>
    </div>
    <table class="table table-bordered mt-3">
        <thead>

            <tr>
                <th class="bg-black text-white">
                    Ad Soyad
                </th>
                <th class="bg-black text-white">
                    Sicil Numarası
                </th>
                <th class="bg-black text-white">
                    Telefon Numarası
                </th>

                <th class="bg-black text-white">
                    İşlemler
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name @item.Surname.ToUpper()</td>
                    <td>@item.RegistrationNumber</td>
                    <td>@item.PhoneNumber</td>
                    <td>
                        <a asp-controller="Teacher" asp-action="Update" asp-route-id="@item.Id" class="btn btn-secondary">Düzenle</a>
                        <a asp-controller="Teacher" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



